[init]
  defaultBranch = main
[core]
  editor = nvim
  repositoryformatversion = 0
  filemode = true
  bare = false
  logallrefupdates = true
  ignorecase = true
  precomposeunicode = true
[pull]
  rebase=true

[credential]
	helper = store
[gpg]
	format = ssh
[user]
	signingkey = /home/keven/.ssh/personal.pub
	email = kevenmario.n.r@gmail.com
	name = KevenMarioN
[commit]
	gpgsign = true
