[Unit]
Description=SSH key agent
Documentation=man:ssh-agent(1)
ConditionPathExists=%h/.ssh/personal
Before=default.target

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStartPre=/usr/bin/rm -f $SSH_AUTH_SOCK
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target